@import "~or-theme";

.#{$prefix}-switch {
  width: 40px;
  height: 20px;
  background-color: $gray4;
  border-style: solid;
  border-width: 2px;
  border-color: $gray4;
  border-radius: 40px;
  cursor: pointer;

  &.or-switch-checked{
    background-color: $basic-blue;
    border-color: $basic-blue;

    .switch-circle {
      transform: translateX(100%);
      transition: transform .25s ease-in-out;
    }
  }

  .switch-circle {
    width: 20px;
    height: 20px;
    background-color: $white;
    border-radius: 50%;
    transition: transform .25s linear;
  }
}
