@import "~or-theme";

$or-switch-active-color: $or-basic-blue !default;
$or-switch-inactive-color: $or-gray4 !default;

.or-switch {
  width: 40px;
  height: 20px;
  background-color: $or-switch-inactive-color;
  border-style: solid;
  border-width: 2px;
  border-color: $or-switch-inactive-color;
  border-radius: 40px;
  cursor: pointer;

  &.or-switch-checked{
    background-color: $or-switch-active-color;
    border-color: $or-switch-active-color;

    .or-switch-circle {
      transform: translateX(100%);
      transition: transform .25s ease-in-out;
    }
  }

  .or-switch-circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform .25s linear;
  }
}
